/venv/
/tmp/
/wandb/
/.idea/inspectionProfiles/Project_Default.xml
/artifacts/
/.idea/misc.xml
/.idea/workspace.xml
/.idea/self-supervised-rl-minecraft.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/test/
/agent_assets/icon_classifier_data/screenshot.png
/config/inventoryScreenshotNoFullscreenConfCustom.json
__pycache__/
**/__pycache__/
/.idea/sonarlint/

/.idea/git_toolbox_prj.xml
/used-config/
/wandb_tmp/
/pretrainedModels/pretrained_vit_seq1/
/pretrainedModels/pretrained_vit_seq2/
/pretrainedModels/pretrained_vit_seq4/
/pretrainedModels/pretrained_naturecnn_out512_seq1/simclr-pretrain_checkpoint.pt
/pretrainedModels/pretrained_naturecnn_out512_seq2/simclr-pretrain_checkpoint.pt
/pretrainedModels/pretrained_naturecnn_out512_seq4/simclr-pretrain_checkpoint.pt
/pretrainedModels/pretrained_naturecnn_out512_seq8/simclr-pretrain_checkpoint.pt
/agentObservationTestInput/screenshot.png
